.awesome-block{
	margin-top: 50px;
	padding: 60px 0;
}

.awesome-block__list{
	margin-top: 110px;
}

.benefit__title{
	padding-top: 170px;
	position: relative;
	font-family: 'Open Sans', "Times New Roman", sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 33px;
	text-align: center;
}

.benefit__title::before{
	content: '';
	width: 92px;
	position: absolute;
	height: 170px;
	top: 0;
	left: 50%;
	background-repeat: no-repeat;
	transform: translate(-50%);
}

.benefit__title--first::before{
	background-image: url("/img/awesome_icon_1@desktop.svg");
}

.benefit__title--second::before{
	background-image: url("/img/awesome_icon_2@desktop.svg");
}

.benefit__title--third::before{
	background-image: url("/img/awesome_icon_3@desktop.svg");
}

.benefit__text{
	margin-top: 40px;
	text-align: center;
}

@media (max-width: 1495px){
	.awesome-block{
		padding-top: clamp(50px, 4.01vw, 60px);
	}

	.awesome-block__list{
		margin-top: clamp(55px, 5.1vw, 80px);
	}

	.benefit__title{
		padding-top: clamp(145px, 13.7vw, 170px);
		font-size: clamp(18px, 1.7vw, 24px);
		line-height: clamp(25px, 2.3vw, 33px);
	}

	.benefit__title::before{
		width: clamp(80px, 49px + 0.03 * 100vw, 92px);
		background-size: clamp(80px, 49px + 0.03 * 100vw, 92px);
	}
}

@media (max-width: 1024px){
	.awesome-block{
		margin-top: 0;
		padding-top: clamp(50px, 12.7vw, 100px);
	}
	
	.awesome-block__list{
		flex-direction: column;
		align-items: center;
		gap: 44px;
	}
}