.awesome-block{
	width: 1170px;
	margin: 50px auto 58px;
}

.awesome-block__title{
	width: 1170px;
	min-height: 150px;
	padding: 53px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Raleway';
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 400;
	line-height: 42px;
	text-align: center;
	color: #000000;
}

.awesome-block__title:after {
    content: '';
    width: 170px;
    height: 1px;
	position: relative;
	top: 53px;
    background-color: #EC7979;
}

.awesome-block__suptitle{
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #86878B;
}

.awesome-block__list{
	margin-top: 71px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: none;
}

.benefit{
	width: 370px;
	min-height: 383px;
	display: flex;
	flex-direction: column;
    align-items: center;
}

.benefit__icon{
	width: 170px;
}

.benefit__title{
	width: 369px;
	min-height: 100px;
	padding: 33px 0;
	font-family: 'Open Sans';
	font-size: 24px;
	font-weight: 700;
	line-height: 33px;
	text-align: center;
}

.benefit__text{
	width: 370px;
	margin-top: 8px;
	font-family: 'Raleway';
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	text-align: center;
}