.contact-block{
	margin-top: 50px;
	padding: 60px 0 50px;
}

.contact-block__form{
	margin-top: 90px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px 30px;
}

.contact-form__box{
	display: flex;
	flex-direction: column;
	border: none;
}

.box-item__input{
	width: 570px;
}

.form-box__item:not(:first-child){
	margin-top: 33px;
}

.form-textarea__input{
	width: 570px;
	resize: none;
}

.contact-form__button{
	width: 370px;
	padding: 16px;
	font-size: 18px;
	line-height: 25px;
}

.contact-form__button:hover{
	background: #AB4949;
}

.contact-form__button:active{
	background: #EC7979;
	box-shadow: inset 0 0 10px #AB4949;
}
