.design-block{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/img/design_bg.jpg);
	background-size: contain;
}

.design-block__wrap{
	padding: 60px 0 50px;
}

.design-info__title{
	color: #ffffff;
}

.design-info__title::after{
	background-color: #ffffff
}

.design-info__subtitle{
	color: #ffffff;
}

.design-info__button{
	min-height: 58px;
	min-width: 370px;
	margin: 70px auto 0;
	line-height: 25px;
	background: none;
	border: 2px solid #FFFFFF;
}