.design-block{
	background: url(/img/design_bg.jpg);
	background-size: cover;
}

.design-block__wrap{
	padding: 60px 0 50px;
}

.design-info__title{
	color: #ffffff;
}

.design-info__title::after{
	background-color: #ffffff
}

.design-info__subtitle{
	color: #ffffff;
}

.design-info__button{
	min-height: 58px;
	min-width: 370px;
	margin: 70px auto 0;
	line-height: 25px;
	background: none;
	border: 2px solid #FFFFFF;
}

.design-info__button:hover{
	color: #EC7979;
	border: 2px solid #EC7979;
}

.design-info__button:active{
	color: #FFFFFF;
	background: #AB4949;
	border: 2px solid #AB4949;
}