*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

.title{
	padding-bottom: 60px;
	position: relative;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: #000000;
}

.title::after{
	content: '';
    width: 170px;
    height: 1px;
	position: absolute;
	top: 102px;
	left: 50%;
	transform: translate(-50%);
    background-color: #EC7979;
}

.suptitle{
	margin-top: 40px;
	text-align: center;
	color: #86878B;
}

.list{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.list-item{
	width: 370px;
	display: flex;
	flex-direction: column;
    align-items: center;
}