*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.overlay{
	background: rgba(0, 0, 0, 0.5);
}

.container{
	max-width: 1170px;
	margin: 0 auto;
}

.title{
	padding-bottom: 60px;
	position: relative;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: #000000;
}

.title::after{
	content: '';
    width: 170px;
    height: 1px;
	position: absolute;
	bottom: 1px;
	left: 50%;
	transform: translate(-50%);
    background-color: #EC7979;
}

.subtitle{
	margin-top: 40px;
	text-align: center;
	color: #86878B;
}

.list{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.list-item{
	width: 370px;
}

.button{
	width: 270px;
	padding: 16px;
	font-family: 'Open Sans', "Times New Roman", sans-serif;
	font-weight: 600;
	line-height: 25px;
	text-transform: capitalize;
	text-align: center;
	color: #FFFFFF;
	background: #EC7979;
	border: none;
	transition: all 0.5s ease 0s;
	cursor: pointer;
}

.form-item{
	padding: 16px 10px;
	font-family: 'Open Sans', "Times New Roman", sans-serif;
	font-size: 14px;
	line-height: 19px;
	text-transform: capitalize;
	border: none;
	border-bottom: 1px solid #BDBDBD;;
}

.form-item::placeholder{
	color: #BDBDBD;
}

.form-item:focus{
	outline-color:  #BDBDBD;
}

.form-button{
	font-family: 'Open Sans', "Times New Roman", sans-serif;
	font-weight: 600;
	text-transform: capitalize;
	color: #FFFFFF;
	background: #EC7979;
	border: none;
	transition: all 0.5s ease 0s;
	cursor: pointer;
}

@media (max-width: 1495px){
	body{
		font-size: clamp(14px, 1.3vw, 18px);
		line-height: clamp(16px, 1.5vw, 21px);
	}

	.container{
		max-width: clamp(992px, 606px + 0.377 * 100vw, 1170px);
	}

	.title{
		padding-bottom: clamp(50px, 4.01vw, 60px);            
		font-size: clamp(24px, 2.4vw, 36px);
		line-height: clamp(28px, 2.75vw, 42px);
	}

	.title::after{
		width: clamp(142px, 81px + 0.06 * 100vw, 170px);
	}

	.subtitle{
		margin-top: clamp(32px, 2.9vw, 40px);
	}

	.button{
		width: clamp(183px, 9px + 0.18 * 100vw, 270px);
		padding: clamp(12px, 1.12vw, 16px);
	}

	.list-item{
		max-width: clamp(318px, 205px + 0.11 * 100vw, 370px);
	}
}

@media (max-width: 1024px){
	.container{
		max-width: clamp(288px, -32px + 1 * 100vw, 992px)
	}

	body{
		font-size: 13px;
		line-height: 15px;
	}

	.title{
		font-size: clamp(18px, 3.98vw, 24px);
		line-height: clamp(21px, 4.65vw, 28px);
	}

	.title::after{
		max-width: clamp(134px, 130px + 0.011 * 100vw, 142px)
	}

	.subtitle{
		margin-top: clamp(25px, 5.47vw, 32px);
	}

	.list-item{
		max-width: clamp(288px, 275px + 0.041 * 100vw, 317px);
	}
}