.tabs-block{
	margin-top: 100px;
}

.tabs-block__list{
	display: flex;
	border-bottom: 1px solid #C6CBCD;
}

.shortcuts-list__tag{
	width: 184px;
	display: flex;
}

.shortcuts-list__tag--active{
	position: relative;
	border: 1px solid #C6CBCD;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #fff;
}

.shortcuts-list__tag--active::after{
	content: "";
	width: 182px;
	height: 4px;
	background-color: #FFFFFF;
	position: absolute;
	bottom: -3px;
}

.tag__button{
	padding: 9px;
	flex: 1;
	font-family: 'Open Sans', "Times New Roman", sans-serif;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	background-color: #FFFFFF;
	border-radius: 5px 5px 0 0;
	border: none;
	cursor: pointer;
}

.tabs-block__tab{
	display: flex;
	border: 1px solid #C6CBCD;
	border-top: 0;
}

.tab__wrap{
	padding: 40px 28px 28px 100px;
}

.tab-info__title{
	font-family: 'Open Sans', "Times New Roman", sans-serif;
	font-size: 30px;
	line-height: 41px;
}

.tab-info__text{
	margin-top: 20px;
}

p.tab-info__text:first-of-type{
	margin-top: 75px;
}

.tab-info__button{
	margin-top: 38px;
}

.tab-info__button:hover{
	background: #AB4949;
}

.tab-info__button:active{
	background: #EC7979;
	box-shadow: inset 0 0 10px #AB4949;
}

.tab__pic{
	height: 500px;
}

@media (max-width: 1495px){
	.tabs-block{
		margin-top: clamp(50px, 5.78vw, 100px);
	}
	
	.shortcuts-list__tag{
		max-width: clamp(172px, 146px + 0.025 * 100vw, 184px);
	}
	
	.shortcuts-list__tag--active::after{
		max-width: clamp(170px, 143px + 0.025 * 100vw, 182px);
	}
	
	.tab__wrap{
		padding: clamp(35px, 3.05vw, 40px) clamp(26px, 2.2vw, 28px) 30px clamp(85px, 7.49vw, 100px);
	}
	
	.tab-info__title{
		font-size: clamp(24px, 2.17vw, 30px);
		line-height: clamp(33px, 2.98vw, 41px);
	}
	
	p.tab-info__text:first-of-type{
		margin-top: clamp(50px, 4.95vw, 75px);
	}

	.tab-info__button{
		min-width: clamp(230px, 197px + 0.032 * 100vw, 270px);
	}
	
	.tab-pic{
		max-height: clamp(385px, 136px + 0.24 * 100vw, 500px);
	}

	.tab-pic__img{
		max-height: clamp(385px, 136px + 0.24 * 100vw, 500px);
		max-width: clamp(398px, 241px + 0.15 * 100vw, 470px);
	}
}

@media (max-width: 1023px){
	.tabs-block{
		margin-top: clamp(40px, 11.14vw, 100px);
	}

	.shortcuts-list__tag{
		width: clamp(96px, 59px + 0.11 * 100vw, 172px);
	}
	
	.shortcuts-list__tag--active::after{
		width: clamp(94px, 57px + 0.11 * 100vw, 170px);
	}
	
	.tabs-block__tab{
		display: flex;
		border: 1px solid #C6CBCD;
		border-top: 0;
	}
	
	.tab__wrap{
		padding: clamp(35px, 7.4vw, 40px) clamp(20px, 4.49vw, 28px) 30px clamp(25px, 8.78vw, 100px);
	}
	
	.tab-info__title{
		font-size: clamp(18px, 3.98vw, 24px);
		line-height: clamp(25px, 5.52vw, 33px);
	}
	
	.tab-info__button{
		min-width: 230px;
		margin-top: clamp(30px, 6.54vw, 38px);
	}
	
	.tab__pic{
		display: none;
	}
	
}

@media (max-width: 450px){
	.tab-info__title{
		text-align: center;
	}

	.tab-info__text{
		text-align: center;
	}

	.tab-info__button{
		display: block;
		margin: 30px auto 0;
	}
}