.tabs-block{
	margin-top: 100px;
}

.tabs-block__list{
	min-height: 40px;
	display: flex;
	list-style-type: none;
	border-bottom: 1px solid #C6CBCD;
}

.shortcuts-list__tag{
	width: 184px;
	min-height: 40px;
	display: flex;
}

.shortcuts-list__tag--active{
	margin-bottom: -1px;
	border: 1px solid #C6CBCD;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid #fff;
}

.tag__button{
	padding: 10px;
	flex: 1;
	font-family: 'Open Sans', "Times New Roman", sans-serif;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	background-color: #FFFFFF;
	border-radius: 5px 5px 0px 0px;
	border: none;
}

.tabs-block__tab{
	display: flex;
	border: 1px solid #C6CBCD;
	border-top: 0;
}

.tab__wrap{
	width: 700px;
	padding: 40px 28px 28px 100px;
	padding-right: 28px;
	display: flex;
	flex-direction: column;
}

.tab-info__title{
	display: flex;
	align-items: center;
	font-family: 'Open Sans', "Times New Roman", sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
}

.tab-info__text{
	margin-top: 20px;
}

p.tab-info__text:first-of-type{
	margin-top: 75px;
}

.tab-info__button{
	width: 270px;
	min-height: 58px;
	margin-top: 27px;
	padding: 16px;
	font-family: 'Open Sans', "Times New Roman", sans-serif;
	font-weight: 600;
	line-height: 25px;
	display: flex;
	justify-content: center;
    align-items: center;
	text-transform: capitalize;
	color: #FFFFFF;
	text-decoration: none;
	background: #EC7979;
	border: none;
}

.tab__img{
	width: 470px;
	height: auto;
}